@import "../../app.scss";

.servicesSection {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(30px, 4.167vw, 120px) 0;
    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        column-gap: clamp(10px, 1.389vw, 40px);
        padding-bottom: clamp(30px, 4.167vw, 120px);

        @include mobile {
            align-self: center;
            text-align: center;
            flex-direction: column;
            width: 100%;
        }

        .topText {
            font-weight: 200;
            font-size: clamp(18px, 1.389vw, 40px);
            color: gray;
            text-align: end;
            @include mobile {
                text-align: center;
                width: 100%;
                margin-bottom: 15px;
            }
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
            @include mobile {
                width: 100%;
            }
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: clamp(40px, 4.167vw, 120px);
        @include mobile {
            width: 100%;
        }
        .title {
            display: flex;
            align-items: center;
            column-gap: clamp(25px, 3.472vw, 100px);
            @include mobile {
                flex-direction: column;
                text-align: center;
                row-gap: clamp(15px, 2.083vw, 30px);
            }
            img {
                width: clamp(150px, 20.833vw, 600px);
                height: clamp(50px, 6.944vw, 100px);
                border-radius: clamp(25px, 3.472vw, 100px);
                object-fit: cover;
            }

            .titleHeading {
                font-size: clamp(48px, 6.667vw, 192px);
                font-weight: 100;
            }

            .whatWeBtn {
                font-size: 24px;
                background-color: orange;
                border: none;
                padding: 22px 50px;
                border-radius: 50px;
                cursor: pointer;
                &:hover {
                    background-color: #ffa600cc;
                }
                @include mobile {
                    font-size: 16px;
                    font-weight: 500;
                    padding: 12px 40px;
                }
            }
        }
    }
    .cardlistContainer {
        flex: 2;
        display: flex;
        max-width: 80%;
        margin: auto;
        @include mobile {
            flex-direction: column;
            width: 100%;
            max-width: 90%;
        }

        .card-box {
            padding: clamp(25px, 3.472vw, 50px) clamp(15px, 2.083vw, 30px);
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile {
                border: none;
            }
        }

        .heading {
            padding-bottom: 20px;
        }

        .para {
            padding-bottom: 20px;
        }

        .goBtn {
            padding: 10px;
            background-color: orange;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
                background-color: #ffa600cc;
            }
            @include mobile {
                width: 100%;
                max-width: 50%;
            }
        }
    }
}
