.hero-section {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;

    .container {
        width: 100%;
        max-width: 85%;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: clamp(15px, 2.778vw, 40px);

            .name {
                font-size: clamp(22px, 2.083vw, 60px);
                color: rebeccapurple;
                letter-spacing: clamp(5px, 0.694vw, 20px);
            }

            .designation {
                font-size: clamp(34px, 4.722vw, 136px);
            }

            .buttons-box {
                display: flex;
                align-items: center;
                column-gap: clamp(7.5px, 1.042vw, 30px);
                .button {
                    padding: clamp(10px, 1.389vw, 40px);
                    border: clamp(1px, 0.069vw, 2px) solid white;
                    border-radius: clamp(5px, 0.694vw, 20px);
                    background: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: 300;
                }
            }

            .scrolImg {
                width: 50px;
            }
        }
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }
}
