@import "../../app.scss";

.contactSection {
    width: 100%;
    max-width: 85%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    column-gap: clamp(25px, 3.472vw, 80px);
    overflow: hidden;
    @include mobile {
        width: 100%;
        flex-direction: column;
        row-gap: clamp(25px, 2.431vw, 35px);
        justify-content: center;
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: clamp(30px, 2.778vw, 80px);
        width: 100%;
        @include mobile {
            justify-content: center;
            flex: unset;
        }

        h1 {
            font-size: clamp(40px, 4.861vw, 140px);
            line-height: 1.1;
        }

        span {
            font-weight: 300;
        }
    }

    .formContainer {
        flex: 1;
        position: relative;
        width: 100%;
        @include mobile {
            width: 100%;
            flex: unset;
        }

        .phoneSvg {
            position: absolute;
            margin: auto;
            stroke: orange;
            z-index: -1;
        }

        .form {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            z-index: 1;
            .input {
                padding: 20px;
                background-color: #0c0c1d;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                box-sizing: border-box;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                outline: none;
            }
            input[type="text"]:focus {
                border: 1px solid orange;
            }
            input[type="email"]:focus {
                border: 1px solid orange;
            }

            .textarea {
                width: 100%;
                padding: 20px;
                background-color: #0c0c1d;
                border: 1px solid white;
                color: white;
                border-radius: 5px;

                &:focus {
                    border: 1px solid orange;
                    outline: none;
                }
            }

            .submitBtn {
                padding: 18px;
                border: none;
                border-radius: 5px;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}
