@import "../../app.scss";

.navbar {
    height: clamp(100px, 6.944vw, 200px);

    .container {
        width: 100%;
        max-width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @include mobile {
            justify-content: flex-end;
            padding: 20px;
            max-width: 90%;
        }
        .logo {
            font-weight: bold;
            font-size: clamp(18px, 2.5vw, 72px);
            @include mobile {
                display: none;
            }
        }

        .social-links {
            display: flex;
            align-items: baseline;
            column-gap: clamp(10px, 1.389vw, 40px);

            .social-icon {
                .icon {
                    width: clamp(18px, 1.25vw, 44px);
                    height: clamp(18px, 1.25vw, 44px);
                }
            }
        }
    }
}
