html {
    // scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
/* For DM Sans */
@font-face {
    font-family: "DM Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("ttf");
}
/* For Oswald */
@font-face {
    font-family: "Oswald";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("ttf");
}
/* For Roboto */
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Robot") format("woff2"),
        url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM sans", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: lightgray;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s; /* Optional visual effect */
}

body {
    background-color: #0c0c1d;
    color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    // height: 100vh;
    scroll-snap-align: center;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1366px) {
        @content;
    }
}
